# 
# Scala files  
*.class 
*.log 
# 
# Scala sbt 
.bsp/
.cache/ 
.history/ 
.lib/ 
dist/* 
target/ 
lib_managed/ 
src_managed/ 
project/boot/ 
project/plugins/project/ 
# Re-include api documentations 
!/target/
/target/*
!/target/scala-*/
/target/scala-*/*
!/target/scala-*/api/
